@import 'reset';

@font-face {
    font-family: 'Roboto';
    src:
            url('../vendor/fonts/roboto/Roboto-Regular.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src:
            url('../vendor/fonts/roboto/Roboto-Light.ttf')
            format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src:
            url('../vendor/fonts/roboto/Roboto-Bold.ttf')
            format('truetype');
    font-weight: bold;
}

body {

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;

    h1, h2, h4 { text-transform: uppercase; }

    h1 { font-size: 48px; }

    h2 {  font-size: 34px; }

    h4 { font-size: 24px; }

    .link {
        color: #0093d8;
        border-bottom: 1px solid #0093d8;

        &:hover {
            text-decoration: none;
            border-bottom: none;
        }

        &:focus {
            outline: none;
            text-decoration: none;
        }
    }

    .display_none {
        display: none;
    }

    .page_header {
        background-image: url("../images/background_image.png");
        background-position: center;
        background-size: cover;
        color: white;
        height: 580px;
    }

    .header_nav {
        background-color: rgb(0,0,0,0.5);
        height: 80px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;

        .logo {
            float: left;
            margin-top: 17px;
        }

        .nav_option {
            cursor: pointer;
            font-size: 18px;
            float: right;
            height: 100%;
            line-height: 80px;
            margin-left: 10px;
            white-space: nowrap;
            text-transform: uppercase;
            transition: all 200ms linear;

            &:hover {
                background-color: #0093d8;
            }

            span, .arrow_down {
                display: inline-block;
                vertical-align: middle;
            }

            span {
                padding: 0 15px;
            }

            .arrow_down { margin-right: 15px; }

            .dropdown_option {
                border-top: 1px solid #66bee8;

                p { margin-left: 15px; }

                &:hover {
                    background-color: #007bb5;
                }
            }
        }

        .jobs {
            margin-left: 35px;
        }
    }

    .header_title {
        h1 { margin-top: 300px; }

        p {
            font-size: 24px;
            margin: 15px 0 60px 0;
        }

        a { color: #0093d8; }
    }

    .page_body {
        color: #414141;
        padding: 50px 0;

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-bottom: 20px;
        }

        p, ul {
            line-height: 22px;
        }

        ul {
            margin: 10px 0 25px 25px;
            list-style-image: url('../images/arrow_blue.svg');

            span {
                font-weight: bold;
            }
        }

        li {
            margin-bottom: 12px;
        }

        .link {
            display: inline-block;
            float: right;
            margin-top: 10px;
        }

        .earth {
            margin: 5px 0 20px 30px;
            width: 255px;
            float: right;
        }

        .text {
            text-align: justify;
        }
    }

    .our_partners {
        margin-top: 80px;

        .partners_container {
            border: 1px solid #caccce;

            .block {
                display: inline-block;
                text-align: center;
                padding: 30px 0;
            }

            .middle_block {
                width: 38%;
                border-left: 1px solid #caccce;
                border-right: 1px solid #caccce;
            }

            .first_block, .last_block {
                width: 30%;
            }
        }
    }

    footer {
        background-color: #2d333d;
        color: white;
        padding: 25px 0 30px 0;

        .text { margin: 20px 0 30px 0; }

        .social_icon_container {
            width: 53px;
            height: 55px;
            display: inline-block;
            margin-right: 5px;
            padding: 15px 0;
            text-align: center;

            img { width: 50%; }
        }

        .fb_icon { background-color: #3b5998; }

        .linkedin_icon { background-color: #0097da; }

        .twitter_icon { background-color: #00ccff; }

        .contact_form {
            margin-top: 5px;

            input, textarea {
                background-color: #252628;
                border: 2px solid black;
                padding: 20px;
                width: 100%;

                &::placeholder {
                    color: #f5f5f5;
                }

                &:focus {
                    outline: none;
                    border-color: #007bb5;
                }
            }

            textarea {
                height: 145px;
                resize: none;
            }

            label {
                height: 25px;
                display: block;
                margin-left: 20px;

                span {
                    display: none;
                }
            }

            .form_row {
                margin-bottom: 10px;

                &:last-of-type { margin-bottom: 0; }
            }

            .character_counter {
                color: #c8c8c8;
                font-size: 12px;
                margin: 5px 0 0 25px;
            }

            .send_btn {
                background-color: #007bb5;
                border: 0;
                border-radius: 3px;
                float: right;
                height: 50px;
                outline: none;
                text-transform: uppercase;
                width: 135px;

                span, img {
                    vertical-align: middle;
                    display: inline-block;
                }

                img { margin-left: 20px; }

                &:hover {
                    background-color: #0093d8;
                }
            }
        }

        .all_rights {
            border-top: 1px solid #575c64;
            font-size: 14px;
            margin-top: 25px;
            padding-top: 30px;
        }
    }
}


/* ===========================================================================
   Media Queries
 =========================================================================== */

//  col-xs
@media screen and (max-width: 767px) {
    body {
        .header_nav {
            height: 100px;

            .mobile_nav {
                padding: 25px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .logo_icon_container, .menu_icon_container {
                    display: inline-block;
                    vertical-align: middle;
                }

                .logo_icon_container {
                    float: left;
                }
            }

            .mobile_submenu {
                background-color: #0093d8;
                position: absolute;
                top: 100px;
                right: -20px;
                width: 105%;
            }

            .nav_option {
                float: none;
                height: auto;
                margin-left: 0;
            }
        }

        .header_title {
            h1 { margin-top: 210px; }

        }

        .introduction, .guidance {
            margin-bottom: 75px;
        }

        .our_partners {
            margin-top: 0;

            .partners_container {
                width: 295px;
                margin: 50px auto 0 auto;

                .block {
                    display: block;
                    width: 100%;
                    padding: 80px 0;
                }

                .middle_block {
                    border: 0;
                    border-top: 1px solid #caccce;
                    border-bottom: 1px solid #caccce;
                }
            }
        }

        footer {
            .contact_section {
                margin-top: 80px;
            }

            .contact_form {
                .form_row { margin-bottom: 30px; }
            }

            .send_btn { margin-top: 30px; }
        }
    }
}