/* ==========================================================================
Reset CSS
http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
License: none (public domain)
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../vendor/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../vendor/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../vendor/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
body h1, body h2, body h4 {
  text-transform: uppercase;
}
body h1 {
  font-size: 48px;
}
body h2 {
  font-size: 34px;
}
body h4 {
  font-size: 24px;
}
body .link {
  color: #0093d8;
  border-bottom: 1px solid #0093d8;
}
body .link:hover {
  text-decoration: none;
  border-bottom: none;
}
body .link:focus {
  outline: none;
  text-decoration: none;
}
body .display_none {
  display: none;
}
body .page_header {
  background-image: url("../images/background_image.png");
  background-position: center;
  background-size: cover;
  color: white;
  height: 580px;
}
body .header_nav {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
body .header_nav .logo {
  float: left;
  margin-top: 17px;
}
body .header_nav .nav_option {
  cursor: pointer;
  font-size: 18px;
  float: right;
  height: 100%;
  line-height: 80px;
  margin-left: 10px;
  white-space: nowrap;
  text-transform: uppercase;
  transition: all 200ms linear;
}
body .header_nav .nav_option:hover {
  background-color: #0093d8;
}
body .header_nav .nav_option span, body .header_nav .nav_option .arrow_down {
  display: inline-block;
  vertical-align: middle;
}
body .header_nav .nav_option span {
  padding: 0 15px;
}
body .header_nav .nav_option .arrow_down {
  margin-right: 15px;
}
body .header_nav .nav_option .dropdown_option {
  border-top: 1px solid #66bee8;
}
body .header_nav .nav_option .dropdown_option p {
  margin-left: 15px;
}
body .header_nav .nav_option .dropdown_option:hover {
  background-color: #007bb5;
}
body .header_nav .jobs {
  margin-left: 35px;
}
body .header_title h1 {
  margin-top: 300px;
}
body .header_title p {
  font-size: 24px;
  margin: 15px 0 60px 0;
}
body .header_title a {
  color: #0093d8;
}
body .page_body {
  color: #414141;
  padding: 50px 0;
}
body .page_body h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
body .page_body p, body .page_body ul {
  line-height: 22px;
}
body .page_body ul {
  margin: 10px 0 25px 25px;
  list-style-image: url("../images/arrow_blue.svg");
}
body .page_body ul span {
  font-weight: bold;
}
body .page_body li {
  margin-bottom: 12px;
}
body .page_body .link {
  display: inline-block;
  float: right;
  margin-top: 10px;
}
body .page_body .earth {
  margin-top: 5px;
  width: 100%;
}
body .page_body .text {
  text-align: justify;
}
body .our_partners {
  margin-top: 80px;
}
body .our_partners table {
  table-layout: fixed;
  width: 100%;
}
body .our_partners table td {
  border: 1px solid #caccce;
  padding: 30px 0;
  text-align: center;
}
body footer {
  background-color: #2d333d;
  color: white;
  padding: 25px 0 30px 0;
}
body footer .text {
  margin: 20px 0 30px 0;
}
body footer .social_icon_container {
  width: 53px;
  height: 55px;
  display: inline-block;
  margin-right: 5px;
  padding: 15px 0;
  text-align: center;
}
body footer .social_icon_container img {
  width: 50%;
}
body footer .fb_icon {
  background-color: #3b5998;
}
body footer .linkedin_icon {
  background-color: #0097da;
}
body footer .twitter_icon {
  background-color: #00ccff;
}
body footer .contact_form {
  margin-top: 20px;
}
body footer .contact_form input, body footer .contact_form textarea {
  background-color: #252628;
  border: 2px solid black;
  padding: 20px;
  width: 100%;
}
body footer .contact_form input::placeholder, body footer .contact_form textarea::placeholder {
  color: #f5f5f5;
}
body footer .contact_form input:focus, body footer .contact_form textarea:focus {
  outline: none;
  border-color: #007bb5;
}
body footer .contact_form textarea {
  height: 145px;
  resize: none;
}
body footer .contact_form .form_row {
  margin-bottom: 20px;
}
body footer .contact_form .form_row:last-of-type {
  margin-bottom: 0;
}
body footer .contact_form .character_counter {
  color: #c8c8c8;
  font-size: 12px;
  margin: 5px 0 0 25px;
}
body footer .contact_form .send_btn {
  background-color: #007bb5;
  border: none;
  border-radius: 3px;
  float: right;
  height: 50px;
  outline: none;
  text-transform: uppercase;
  width: 135px;
}
body footer .contact_form .send_btn span, body footer .contact_form .send_btn img {
  vertical-align: middle;
  display: inline-block;
}
body footer .contact_form .send_btn img {
  margin-left: 20px;
}
body footer .contact_form .send_btn:hover {
  background-color: #0093d8;
}
body footer .all_rights {
  border-top: 1px solid #575c64;
  font-size: 14px;
  margin-top: 25px;
  padding-top: 30px;
}

/*# sourceMappingURL=style.css.map */
